/* Logo e Menu Header */

.header {
  padding: 10px;
}

.header-menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.d-col-6 {
  display: flex;
  align-items: center;
  width: 50%;
  padding: 4px 8px;
}

.d-col-6:nth-child(2) {
  justify-content: space-around;
}

.menu-icon {
  width: 38px;
  height: 25px;
  padding: 5px;
  cursor: pointer;
  display: none;
  margin-top: 10px;
}

.menu-icon__item {
  width: 100%;
  height: 2px;
  background: #4b5b69;
  display: block;
  margin-bottom: 5px;
}

.icon-search--mobile {
  margin-top: 15px;
  display: none;
}

.search-bar {
  padding: 0 4px;
  margin-left: 60px;
}

.search {
  display: flex;
  align-items: center;
}

.icon-search {
  margin-top: 5px;
}

.search {
  background: #ececec;
  text-align: center;
  border-radius: 20px;
  padding: 1px 2px 1px 12px;
}

.search__input::-webkit-input-placeholder {
  color: var(--corazul);
  font-size: 1.3rem;
}

.search__input {
  border: none;
  background: transparent;
  outline: none;
}

.btn__search {
  border: none;
  background: transparent;
  width: 2%;
}

.btn__search .fa-search {
  color: var(--corazul);
}

.home-login {
  display: flex;
  align-items: center;
  margin-left: 190px;
}

.home-login__text {
  margin-top: 12px;
  font-size: 1.8rem;
}
/* Menu */

.menu-box {
  padding: 1px 10px;
}

.menu {
  margin-top: 45px;     
}

.menu__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  position: relative;
  padding: 10px 5px;
  transition: 3s linear;
}

.menu__text {
  font-weight: bold;
}

.fa-menu {
  margin-left: 10px;
  color: var(--corsalmao);
}

.menu__link {
  /* display: flex; */
  align-items: center;
  cursor: pointer;
}

.menu__item {
  width: auto;
  padding: 1px;
  text-align: center;
}

.menu__item:not(:last-child) {
  margin-right: 23px;
}

.menu__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.menu__item {
  padding-bottom: 20px;
}

.menu__item:hover  .menu__sublist{
  transition: .1s linear;
  display: flex;;
}

.menu__item:hover .fa-menu {
  transform: rotate(180deg);
  color: #566572;
}

.menu__sublist {
  box-shadow: 0px 2px 1px 0px #f3f3f3;
  position: absolute;
  left: 0;
  margin-top: 15px;
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  background: #FFF;
  z-index: 2;
  border-top: 2px solid #f3f3f3;
  display: none;
  min-height: 140px;
  padding-top: 15px;
}

.menu__subitem {
  width: 33%;
  margin-bottom: 12px;
  color: #4b5b69;
}

.menu__sublink {
  color: #4b5b69;
  font-weight: bold;
  font-size: 1.7rem;
}

.icon-header {
  fill: #d3b8bf;
  stroke: #d3b8bf;
}

.menu__link {
  color: #566572;
  text-decoration: none;
}

.menu__arrow .menu__text {
  font-size: 1.5rem;
}

.menu__link:hover .icon-header,
.menu__link:hover .cls-1,
.menu__link:hover .menu__text {
  fill: #566572;
  stroke: #566572;
  color: #566572;
}

.icon-header:hover {
  fill: #566572;
  stroke: #566572;
}


@media(max-width: 1160px) {

  .menu-icon {
    display: block;
  }

  .menu__list {
    padding-left: 0;
    height: 0;
    overflow: hidden;
    transition: .3s linear;
  }

  .menu__item {
    width: 33%;
    margin-bottom: 12px;
  }

  .menu__item:not(:last-child) {
    margin-right: 0;
  }
}

.menu-btn:checked ~ .menu__list {
  height: 500px;
  overflow: auto;
  transition: .3s linear;
}

.menu__logo {
  margin-bottom: 8px;
}


.menu__text {
  display: block;
  color: var(--corsalmao);
  font-size: 1.6rem;
}

.icon {
  color: var(--corsalmao)
}

.icon__circle {
  border: 2px solid var(--corsalmao);
  border-radius: 50%;
  width: 20px;
  height: 10px;
  padding: 8px 10px;
}

.icon__face {
  padding: 8px 12px !important;
}

@media(max-width: 995px) {
  .header-menu {
    /* flex-direction: column; */
  }

  .d-col-6 {
    /*width: 100%;
    margin-bottom: 20px;
    justify-content: space-around;*/
  }

  .search,
  .home-login__text {
    display: none
  }

  .home-login {
    display: flex;
    align-items: center;
    margin-left: 0;
  }
}


@media(max-width: 680px) {
  .logo__image {
    width: 100px;
  }
}

