/* Menu */
.menu {
  margin-top: 60px;
  margin-bottom: 100px;
}

.menu__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  position: relative;
  padding: 10px 5px;
  transition: 3s linear;
}

.menu__item {
}



.menu__item:hover .menu__sublist{
  height: 120px;
  transition: .3s linear;
}


.menu__sublist {
  /*box-shadow: 0px -3px 1px 0px #f3f3f3;*/
  position: absolute;
  left: 0;
  top: 95%;
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  background: #FFF;
  z-index: 2;
  height: 0;
}

.menu__subitem {
  width: 33%;
  margin-bottom: 12px;
  color: #4b5b69;
}

.menu__sublink {
  color: #4b5b69;
  font-weight: bold;
  font-size: 1.7rem;
}

@media(max-width: 1060px) {

  .menu__sublist {
    position: absolute;
    left: 0;
    top: 0;
    outline: 2px solid green;
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    height: 0;
    overflow: hidden;
  }

  .menu-icon {
    display: block;
  }

  .menu__list {
    padding-left: 0;
    height: 0;
    overflow: hidden;
    transition: .3s linear;
  }

  .menu__item {
    width: 33%;
    margin-bottom: 12px;
  }
}

@media(max-width: 989px) {
  .logo-center-sm {
    text-align: center;
    margin-bottom: 20px;
  }

}
.menu-btn:checked ~ .menu__list {
  height: 500px;
  overflow: auto;
  transition: .3s linear;
}

.menu__logo {
  margin-bottom: 8px;
}


.menu__text {
  display: block;
  color: var(--corsalmao);
  font-size: 1.6rem;
}

.header {

}

.header__social {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}

.header__icons {
  margin-right: 50px;
  width: 200px;
}

.icon {
  color: var(--corsalmao)
}

.icon__circle {
  border: 2px solid var(--corsalmao);
  border-radius: 50%;
  width: 20px;
  height: 10px;
  padding: 8px 10px;
}

.icon__face {
  padding: 8px 12px !important;
}

.logo {

}

.logo__link {

}

.logo__image {
  width: 220px;
}

.search {
  margin-top: 10px;
}

.search__form {
  font-size: 1.6rem;
}

.search__item {
  width: 100%;
  height: 45px;
  display: flex;
  flex-wrap: nowrap;
  border-radius: 22px;
  align-items: center;
  padding: 2px 22px;
  background: var(--corcinza);
}

.search__input {
  border: none;
  background: transparent;
  width: 100%;
  outline: none;
}

.search__input::-webkit-input-placeholder {
  color: var(--corazul);
  font-size: 1.6rem;
}

.btn__search {
  border: none;
  background: transparent;
  width: 2%;
  padding: 4px;
}

.btn__search .fa-search {
  color: var(--corazul)
}
