<!-- Começo do Header -->
<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="header__social">
          <div class="header__icons">
            <a class="icon icon__circle icon__face" href="#"><i class="fab fa-facebook-f"></i></a>
            <a class="icon icon__circle" href="#"><i class="fab fa-youtube"></i></a>
            <a class="icon icon__circle" href="#"><i class="fab fa-instagram"></i></a>
            <a class="icon icon__circle" href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="logo logo-center-sm">
          <a class="logo__link" [routerLink]="['/']">
            <img class="logo__image" src="assets/images/logo-desencanei.svg" alt="Logo desencanei">
          </a>
        </div>
      </div>
      <div class="col-md-5 col-sm-12">
        <div class="search">
          <form class="search__form">
            <div class="search__item">
              <input class="search__input" type="text" placeholder="Pesquisar">
              <button class="btn__search pull-right" type="submit">
                <i class="fas fa-search fa-1x"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <nav class="menu">
          <input class="menu-btn" type="checkbox" id="menu-btn">
          <label class="menu-icon" for="menu-btn">
            <span class="menu-icon__item"></span>
            <span class="menu-icon__item"></span>
            <span class="menu-icon__item"></span>
          </label>

          <ul class="menu__list">
            <li class="menu__item">
              <a class="menu__link" href="#">
                <img class="menu__logo" src="assets/images/icones/noiva.png" alt="">
                <span class="menu__text">Noiva</span>
              </a>
                <ul class="menu__sublist">
                  <li class="menu__subitem"><a class="menu__sublink" href="#">Camisa</a></li>
                  <li class="menu__subitem"><a class="menu__sublink" href="#">Gravata</a></li>
                  <li class="menu__subitem"><a class="menu__sublink" href="#">Lenço</a></li>
                  <li class="menu__subitem"><a class="menu__sublink" href="#">Roupa de noiva</a></li>
                  <li class="menu__subitem"><a class="menu__sublink" href="#">Sapato</a></li>
                  <li class="menu__subitem"><a class="menu__sublink" href="#">Suspensório</a></li>
                  <li class="menu__subitem"><a class="menu__sublink" href="#">Outros acessórios</a></li>
                  <li class="menu__subitem"><a class="menu__sublink" href="#">Outros acessórios</a></li>
                </ul>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">
                <img src="assets/images/icones/noivo.png" class="menu__logo" alt="">
                <span class="menu__text">Noivo</span>
              </a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">
                <img src="assets/images/icones/daminha.png" class="menu__logo" alt="">
                <span class="menu__text">Daminha</span>
              </a>
            </li>

            <li class="menu__item">
              <a class="menu__link" href="#">
                <img src="assets/images/icones/pagem.png" class="menu__logo" alt="">
                <span class="menu__text">Pagem</span>
              </a>
            </li>

            <li class="menu__item">
              <a class="menu__link" href="#">
                <img src="assets/images/icones/madrinhas.png" class="menu__logo" alt="">
                <span class="menu__text">Madrinhas</span>
              </a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">
                <img src="assets/images/icones/suit_icon.png" class="menu__logo" alt="">
                <span class="menu__text">Padrinhos</span>
              </a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">
                <img src="assets/images/icones/cheers_icon.png" class="menu__logo" alt="">
                <span class="menu__text">Dia do sim</span>
              </a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">
                <img src="assets/images/icones/ring_Icon.png" class="menu__logo" alt="">
                <span class="menu__text">Noivado</span>
              </a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">
                <img src="assets/images/icones/presente.png" class="menu__logo" alt="">
                <span class="menu__text">Outros<br>desencalhos</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>

<!-- Fim do Header -->
