<!-- Começo do Banner -->
<section class="banner">
  <div class="container-full">

  <ngu-carousel #myBanner [inputs]="carouselBanner" class="carousel-banner" [dataSource]="banners">
    <ngu-tile class="carousel-banner__tile" *nguCarouselDef="let banners; let i = index" [ngStyle]="{ background: banners.colorImage}">
      <img class="img-responsive" [src]="getUrl(banners.id)" alt="" style="width: 80%; max-height: 400px; margin: auto">
    </ngu-tile>
    <button NguCarouselPrev class="leftRs arrow arrow-block arrow-left"><img class="img-arrow" src="assets/images/icones/arrow-left.svg"></button>
    <button NguCarouselNext class="rightRs arrow arrow-block arrow-right"><img class="img-arrow" src="assets/images/icones/right-arrow.svg"></button>

    <ul class="dots" NguCarouselPoint>
      <li class="dots__item" *ngFor="let i of myBanner.pointNumbers; let i = index" [class.active]="i==myBanner.activePoint" (click)="myBanner.moveTo(i)"
        [style.background]="'url(' + banners[i] + ')'"></li>
    </ul>
  </ngu-carousel>
  </div>
</section>
<!-- Fim do Banner -->

<!-- Conteúdo destaque -->
<section class="destaques">
  <div class="container">
      <div class="row">
          <div class="col-md-12 col-xs-12 col-sm-12">
              <div class="destaques__header">
                  <h2 class="title-section">Últimos destaques</h2>
              </div>
          </div>
      </div>
      <div class="row">
         <div class="col-md-12 col-xs-12 col-sm-12">
          <div class="destaques__product">
            <ngu-carousel #myCarousel [inputs]="carouselTile" [dataSource]="products">
              <ngu-tile *nguCarouselDef="let products; let i = index">
                  <app-product  [product]="products"></app-product>
              </ngu-tile>
              <button #arrowPrev NguCarouselPrev class="leftRs arrow arrow-circle arrow-circle-left" style="display: none;"><img class="img-arrow" src="assets/images/icones/back.svg"></button>
              <button #arrowNext NguCarouselNext class="rightRs arrow arrow-circle arrow-circle-right" style="display: none;"><img class="img-arrow" src="assets/images/icones/next.svg"></button>
            </ngu-carousel>
           </div>
           <button class="leftRs arrow arrow-circle arrow-circle-left" (click)="handleArrowPrev()"><img class="img-arrow" src="assets/images/icones/back.svg"></button>
           <button class="rightRs arrow arrow-circle arrow-circle-right" (click)="handleArrowNext()"><img class="img-arrow" src="assets/images/icones/next.svg"></button>
         </div>
      </div>
</div>
</section>


<section class="interests">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="interests__header">
          <h2 class="title-section">O que mais te interessa?</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="interests__body">
          <div class="interests__tag">
            <div class="tags">

              <span *ngFor="let preference of preferences; let i = index" class="tag" (click)="selectTags(preference)" (click)="preference.selected = !preference.selected"
              [ngClass]="preference.selected ? 'favorited' : ''">
                  <span class="tag__item">{{preference.name}}</span>
              </span>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="interests__footer">
          <button class="btn btn-round btn-salmon btn-center" [disabled]="favTags.length <= 0" (click)="sendTags()" style="outline: none">
              <span class="btn__label" [hidden]="loading">
                Salvar
              </span>
              <div class="loading" [hidden]="!loading">
                  <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                <path fill="#FFF" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
                  <animateTransform attributeType="xml"
                    attributeName="transform"
                    type="rotate"
                    from="0 25 25"
                    to="360 25 25"
                    dur="0.6s"
                    repeatCount="indefinite"/>
                  </path>
                </svg>
              </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<hr>

<div class="products products-offert">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="products__header">
          <h2 class="title-section">Produtos em oferta</h2>
        </div>
      </div>
    </div>
    <div class="row">
        <div  *ngFor="let product of productsSaleOff" class="col-md-3 col-sm-6 col-xs-6">
          <app-product  [product]="product"></app-product>
        </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="products__footer products-offert__footer pull-right">
          <a [routerLink]="['/produtos', 'todos']" class="btn btn-round btn-blue">
            Ver mais
            <img class="img-arrow-sm" src="assets/images/icones/next.svg">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<section class="site-tutorial">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="site-tutorial__header">
          <h2 class="title-section">
            Como funciona?
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="site-tutorial__logo">
          <figure class="site-tutorial__figure">
            <img class="site-tutorial__image" src="assets/images/icones/categoria_noiva.svg" alt="">
            <figcaption class="site-tutorial__caption">
              <p class="text-center site-tutorial__text">
                Texto introdutório ao vídeo de
                explicação sobre o
                funcionamento do site, dos
                processos de compra e venda
              </p>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="col-md-8 col-sm-12">
        <div class="site-tutorial__video">
          <img class="img-responsive" src="https://via.placeholder.com/724x425" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="promotion">
  <div class="promotion__item">
    <img class="img-responsive promotion__image" src="https://via.placeholder.com/1920x269">
  </div>
</section>
<app-publicity></app-publicity>
<hr>
