.product {
  padding: 15px;
  border-radius: 15px;
  cursor: pointer;
  transition: .2s linear;
  box-shadow: 0px 1px 1px #d1d1d1;
}

.product-offert {
  margin-bottom: 45px;
}

.product:hover {
  background: var(--cinzadestaques);
  box-shadow: -1px 4px 20px -1px #d1d1d1;
}

.product__figure {
  margin-bottom: 20px;
}

.product__salesman {
  color: #a2a2a2;
  font-weight: lighter;
  font-size: 1.8rem;
}

.product__name {
  color: #747474;
  font-weight: bold;
  font-size: 1.9rem;
}


.product__favorite {
  border: none;
  background: transparent;
  margin-bottom: 10px;
}

.product__favorite .fa-heart {
  color: var(--corsalmao)
}

.product__price {
  opacity: 0;
  color: #8e8d95;
  font-size: 2.2rem;
  display: block;
  font-weight:bold;
}

.product:hover .product__price {
  opacity: 1;
}


.banner {
  margin-top: 40px;
  margin-bottom: 70px;
}

.carousel-banner__tile {
  padding: 0;
}

/* Interesses */
.interests {
  margin-bottom: 20px;
}

.interests__body {
  margin: 20px 0 30px 0;
}

.interests__tag {
  margin-bottom: 20px;
}

.tags {
  text-align: center; 
}

.tag {
  border-radius: 18px;
  background: var(--tags);
  padding: 10px 17px;
  height: 38px;
  min-width: 80px;
  display: inline-block;
  margin: 8px 12px;
  border: none;
  cursor: pointer;
  color: var(--title);
}

.tag.favorited {
  background: #4b5b69;
  color: var(--corsalmao);
}

.tag__item {
  text-align: center;
  font-size: 1.6rem;
}

/* Tutorial */
.site-tutorial__figure {
  margin-top: 145px;
  text-align: center;
}

.site-tutorial__caption {
  margin-top: 20px;
}

.site-tutorial__image {
  width: 110px;
}

.site-tutorial__text {
  color: var(--title);
  font-size: 2rem;
}

/* Promoção */

.promotion {
  margin-top: 40px;
}

/* Publicidade */
.publicity {
  margin-top: 40px;
}

.publicity__title {
  font-weight: bold;
}


/* Arrows */

.arrow {
  position: absolute; 
  bottom: 50%;
  border: none;
  display: block;
  text-align: center;
  width: 60px;
  height: 60px;
  color: #FFF;
}

.arrow-circle {
  border-radius: 50%;
  background: #d1d1d1;
}

.arrow-block {
  background: rgba(255, 255, 255, .2)
}

.arrow-circle:hover {
  background: #4b5b69;
}

.arrow-right {
  right: -100px;;
  transition: .1s linear;
}

.arrow-left {
  left: -100px;
  transition: .1s linear;
}

.carousel-banner:hover .arrow-right {
  right: 0;
}

.carousel-banner:hover .arrow-left {
  left: 0;
}

.arrow-circle-right {
  right: -4%;
}

.arrow-circle-left {
  left: -4%;
}

@media (max-width: 1250px) {
  .arrow-circle-right {
    right: 0;
  }
  
  .arrow-circle-left {
    left: 0;
  }
  
}

.img-arrow {
  width: 30px;
}

.img-arrow-sm {
  width: 30px;
}

.destaques__product {
  position: relative;
}

.dots {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  padding: 5px;
  margin-top: 25px;
}

.dots__item {
  border-radius: 50%;
  display: block;
  width: 15px;
  height: 15px;
  background: #d1d1d1;
  cursor: pointer;
}

.dots__item:not(:last-child) {
  margin-right: 10px;
}

.dots__item.active {
  background: #4b5b69;
}