<div class="login">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="login__item">
          <div class="login__header">
            <h3 class="title-section text-center">Entrar no Desencalhei</h3>
          </div>
          <div class="login__body">
            <div class="login__social">
              <button class="btn btn-round btn-center btn-face btn--large-fb" [routerLink]="['/']">
                <i class="fab fa-facebook-f"></i>
                  login com facebook
              </button>
              <p class="text-center text-login">ou</p>
            </div>
            <div class="login__manual">
              <form class="form__login" [formGroup]="loginForm" novalidate>
                <div class="form">
                  <div class="form__logo">
                    <img class="form__image img-responsive" src="assets/images/icones/aliancas.png" alt="Alianças">
                  </div>
                  <div class="login__manual-message">
                    <h4 class="text-center login__manual-message-title">Já faz parte do Desencalhei?</h4>
                    <h5 class="text-center login__manual-message-subtitle">Então faça seu login</h5>
                  </div>
                  <div class="form-group">
                    <input type="email" class="input__form" formControlName="email" placeholder="email" [class.error]="!loginForm.get('email').valid && (loginForm.get('email').dirty || loginForm.get('email').touched)">
                    <small class="text-muteded" *ngIf="!loginForm.get('email').valid && (loginForm.get('email').dirty || loginForm.get('email').touched)">Informe um Email</small>
                  </div>

                  <div class="form-group">
                    <input type="password" class="input__form" formControlName="password" placeholder="senha" [class.error]="!loginForm.get('password').valid && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                  </div>
                </div>

                <div class="form__footer">  
                  <button (click)="login()" class="btn btn-round btn--large btn-salmon btn-center">Entrar</button>
                  <a [routerLink]="['/forgotpassword']" class="text-center form__forgotpassword">Esqueci a senha</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
