/* Login */
.login {
  margin-top: 20px;
}

.login__header {
  margin-bottom: 35px;
}

.login__item {
  width: 410px;
  margin-right: auto;
  margin-left: auto;
}

.btn-face {
  background: #3c5a99;
  font-size: 2.3rem !important;
  height: 50px !important;
}

.btn--large-fb {
  width: 410px;
}

.login__social {
  margin-bottom: 25px;
}

.text-login {
  font-size: 2.5rem;
  margin-top: 15px;
  color: var(--title);
}

.form {
  padding: 20px;
  background: #ececec;
  color: #ababab;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 25px;
}

.form__logo {
  display: inline-block;
  margin-top: 10px;
}

.login__manual-message {
  color: #848484;
  margin-bottom: 40px;
}

.login__manual-message-title {
  font-size: 2.2rem;
}

.login__manual-message-subtitle {
  font-size: 1.9rem;
}

.input__form {
  border-radius: 20px;
  width: 100%;
  border: none;
  height: 50px;
  padding: 8px 12px;
  outline: none;
  border: 1px solid transparent;
}

.input__form.error {
  border-color: #f05b78;
}

.input__form::-webkit-input-placeholder {
  text-align: center;
  color: #848484;
  font-size: 1.8rem;
}
 
.text-muteded {
  margin-top: 10px;
  color: #f05b78;
  font-size: 1.5rem;
  line-height: 40px;
}
.btn--large {
  width: 400px !important;
}

.form__forgotpassword {
  display: block;
  margin-top: 15px;
  color: #848484;
  font-size: 1.9rem;
  text-decoration: underline;
  font-weight: regular;
}

@media(max-width: 600px) {
  .login__item {
    width: 85%;
  }

  .btn--large {
    width: 60% !important;
  }

  .btn--large-fb {
    width: 70%;
  }
}