<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-xs-12 col-sm-12">
        <div class="footer__terms">
          <h3 class="footer__title text-center">Termos de uso - Políticas de privacidade  - Quem somos</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="">
      <div class="footer__copyright">
        <h4 class="footer__subtitle text-center">Desencalhei &copy; 2018 - Todos os direitos reservados</h4>
      </div>
  </div>
</footer>
